.navbar {
  width: 100%;
  padding: 24px 0;
  background: radial-gradient(circle at top, #1b133a 0%, #0b0b0b 70%);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-menu a {
  color: #cfcfcf;
  text-decoration: none;
  font-weight: 500;
}

.nav-menu a.active {
  color: #7c3aed;
}

.nav-menu .btn a {
  padding: 10px 20px;
  border: 1px solid #7c3aed;
  border-radius: 8px;
  color: #7c3aed;
}

.experience {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 24px;
}

.experience .sub {
  color: #a855f7;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 12px;
}

.experience h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 80px;
}

/* LIST */
.exp-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ITEM */
.exp-item {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* BOX FOTO */
.exp-img {
  width: 200px;
  height: 180px;
  background: #141414;
  border-radius: 24px;
  flex-shrink: 0;
  border: 1px solid rgba(255,255,255,0.06);
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.2);
}
.exp-img {
  width: 240px;
  height: 170px;
  overflow: hidden;
  background: #141414;
  border-radius: 15px 15px 15px 15px;

  /* kiri atas | kanan atas | kanan bawah | kiri bawah */
}


/* TEKS */
.exp-text h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.exp-text p {
  color: #9ca3af;
  line-height: 1.7;
  max-width: 520px;
}


.contact-footer {
  margin-top: 160px;
  padding: 100px 24px;
  background: linear-gradient(to bottom, #0b0b0b, #070707);
}

.contact-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contact-left h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.contact-left p {
  color: #9ca3af;
  margin-bottom: 32px;
}

.contact-left ul {
  list-style: none;
  padding: 0;
}

.contact-left li {
  margin-bottom: 16px;
  color: #cfcfcf;
}

.contact-art {
  position: relative;
}

@media (max-width: 768px) {
  .experience h1 {
    font-size: 28px;
  }

  .exp-item {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .contact-footer {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
